<button class="uk-button uk-button-default drahoxx-button-about" type="button" uk-toggle="target: #offcanvas-nav"><span uk-icon="icon: menu"></span></button>

<div id="offcanvas-nav" uk-offcanvas="mode: push">
    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
            <li><a href="/">Accueil</a></li>
            <li><a href="/about">About</a></li>
            <li>
                <a href="/challenges">Challenges</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="challenges/chall1">Chall1</a></li>
                        <li><a href="challenges/chall2">Chall2</a></li>
                        <li><a href="challenges/chall3">Chall3</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/leaderboard">Leaderboard</a></li>
            <li><a href="/latest">Latest</a></li>
        </ul>

    </div>
</div> 