{% extends 'layout.html' %}

{% block body %}

<h1>{{c[1]}}</h1>
<h2>{{c[2]}}</h2>
<h2>{{c[3]}}</h2>

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Déposez vos preuves</h1>
      <hr>

      <form action="/challenges/{{c.id}}" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Sélectionnez votre image</label>
          <div uk-form-custom="target: true">
            <input type="file" name="image" id="image">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
          </div>
        </div>

        <button type="submit" class="uk-button uk-button-default">Upload</button>

      </form>
      <ul class="uk-list uk-list-striped">
        {% for t in teams %}
        <li>{{t[0]}} : {{t[1]}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}