<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>PEI CHALLENGES</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.2/css/uikit-core.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

  {% include 'includes/_navbar.html' %}
  <div class="uk-light uk-background-secondary uk-placeholder uk-text-center uk-padding">
    {% block body %}{% endblock %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.2/js/uikit-core.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.2/js/uikit-icons.min.js"></script>
</body>
</html>